@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import "const";

html,
body {
	padding: 0;
	margin: 0;
	@include fontPrimary;
	@include colorBlack;
}

#root {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	// height: 100%;
}

textarea:focus,
input:focus {
	outline: none;
}

// ::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// 	border-radius: 10px;
// 	background-color: #f5f5f5;
// }

// ::-webkit-scrollbar {
// 	width: 12px;
// 	background-color: #f5f5f5;
// }

// ::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// 	background-color: #1e88e5;
// }

a {
	color: inherit;
	text-decoration: inherit;
	font-size: inherit;
}

h1 {
	@include colorBlack;
	@include fontSecondary;
	font-size: 6em;
	font-weight: 300;
	margin: 16px 0;
	// letter-spacing: -1.5rem/6;
}
h2 {
	@include colorBlack;
	@include fontSecondary;
	font-size: 3.75em;
	font-weight: 300;
	margin: 16px 0;
	// letter-spacing: -1.5;
}
h3 {
	@include colorBlack;
	@include fontSecondary;
	font-size: 3em;
	font-weight: 500;
	margin: 16px 0;
	// letter-spacing: -1.5;
}
h4 {
	@include fontSecondary;
	font-size: 2.125em;
	font-weight: 400;
	margin: 16px 0;
	// letter-spacing: -1.5;
}
h5 {
	@include fontSecondary;
	font-size: 1.5em;
	font-weight: 400;
	margin: 16px 0;
	// letter-spacing: -1.5;
}
h6 {
	@include fontSecondary;
	font-size: 1.25em;
	font-weight: 500;
	margin: 16px 0;
	// letter-spacing: -1.5;
}

.body1 {
	@include fontPrimary;
	font-size: 1em;
}

.body2 {
	@include fontPrimary;
	font-size: 0.875em;
}

.button {
	@include fontPrimary;
	font-size: 0.875em;
	font-weight: 500;
	text-transform: uppercase;
	// padding: 12px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 12px 16px;
	box-shadow: none;
	border: 2px solid lightgray;
	color: #454545;

	&:hover {
		border-color: gray;
	}
	&:focus {
		border-color: $blue;
		// border-color: #28C76F;
	}
}

button {
	@extend .button;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	border: 3px solid #eee;

	&:hover {
		background-color: #ddd;
		border-color: #ddd;
	}

	margin: 8px;
	&.sm {
		padding: 4px 12px;
		font-size: 0.75em;
	}
	padding: 8px 24px;
	&.lg {
		padding: 16px 48px;
		font-size: 0.95em;
	}

	&.fullWidth {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@mixin btnStyling($color) {
	color: $color;
	&.contained:not(disabled) {
		color: white;
		background-color: $color;
		border: 3px solid $color;
	}
	&.contained:hover:not(disabled) {
		background-color: #{$color + "dd"};
		border-color: #{$color + "00"};
	}
	&.contained[disabled],
	&.contained[disabled]:hover {
		background-color: gray;
		border-color: gray;
	}

	&.outlined {
		color: $color;
		background-color: transparent;
		// border-color: #{$primary + "ff"};
		border: 3px solid #{$color + "ff"};
		font-weight: 700;
	}
	&.outlined:hover {
		// border-color: #{$primary + "ff"};
		background-color: #{$color + "22"};
	}
}

button,
.button {
	@include btnStyling(grey);
	cursor: pointer;

	&.primary {
		@include btnStyling($primary);
	}

	&.secondary {
		@include btnStyling($secondary);
	}

	&.green {
		@include btnStyling($green);
	}

	&.blue {
		@include btnStyling($blue);
	}

	&.purple {
		@include btnStyling($purple);
	}

	&.orange {
		@include btnStyling($orange);
	}

	&.yellow {
		@include btnStyling($yellow);
	}

	// &.secondary {
	// 	color: $secondary;
	// 	@include btnStyling($secondary);
	// }
}

input[type="datetime-local"] {
	background-color: white;
	padding: 6.5px 8px;
	border: 1px solid #ccc;
}

select {
	background-color: white;
	padding: 8px;
	border-color: #ccc;
	option {
		background-color: white;
		padding: 8px;
		border-color: #ccc;
	}
}

hr {
	height: 1px;
	background-color: #ccc;
	border: none;
}

.noPadding {
	padding: 0 !important;
}

.noMargin {
	margin: 0 !important;
}

.noSpacing {
	@extend .noMargin;
	@extend .noPadding;
}

.label {
	text-transform: uppercase;
	font-size: 0.75em;
	padding: 4px 8px;
	background-color: #0093e9;
	// background-color: #2e86ab;

	color: white;
	display: inline;
	border-radius: 4px;

	&.sm {
		padding: 2px 6px;
	}

	&.green {
		background-color: $green;
	}
	&.purple {
		background-color: $purple;
	}
	&.orange {
		background-color: $orange;
	}
}

.tabPanel {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.tab {
		display: flex;
		justify-content: space-between;

		&:not(:first-child),
		&:not(:last-child) {
			margin: 0 4px;
		}
		&:first-child {
			margin-left: 0px;
			margin-right: 4px;
		}
		&:last-child {
			margin-left: 4px;
			margin-right: 0px;
		}
		flex-grow: 1;
		text-align: center;
		padding: 8px;
		font-size: 0.9em;
		border-radius: 4px;
		border: 1px solid transparent;

		&:not(.tab-active) {
			cursor: pointer;
			border: 1px solid #ccc;
			&:hover {
				background-color: #eee;
			}
		}
		&.tab-active {
			background-color: $primary;
			color: white;
		}
	}
}

.mw-800 {
	max-width: 800px !important;
}

.mw-1000 {
	max-width: 1000px !important;
}

.highlight {
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: transparent;
	&:hover {
		// color:  $primary;
		// border-color: #3F84E5;
		border-color: $primary;
	}
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.pointer {
	cursor: pointer;
}