@use 'const';

// .center {
//     text-align: center;
// }


[hidden] {
    display: none;
}

.grow {
    flex-grow: 1;
}

.max-width {
    max-width: 1000px;
}

.fillWidth {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: fill-available;
}