@import "mixins";
@import "general";
@import "utils";
@import "const";

nav.navbar {
	flex: 0 1 auto;
	// width: 100%;
	padding: 5px 40px;
	background-color: $primary;
	color: white;

	// -webkit-box-shadow: 0 8px 6px -6px #999;
	// -moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #555;
	z-index: 100;

	.toolbar {
		display: flex;
		align-items: center;
		h5 {
			// @include fontSecondary;
			// font-size: 1.4em;
			padding: 15px 30px 15px 5px;
			margin: 0;
		}

		.navNotifButton {
			display: inline-block;
			.nav-icon {
				margin: 4px 4px;
				margin: 0 12px;
				border-radius: 100%;
				color: #fffa;
				cursor: pointer;
				&:hover {
					color: #fff;
				}
			}

			.navNotifContainer {
				// border: 1px dotted red;
				display: none;
				position: absolute;
				margin-top: 10px;
				margin-left: -60px;
				background-color: #ddda;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
				&.showNotifContainer {
					display: block !important;
				}
				.notifScroll {
					max-height: 50vh;
					overflow: auto;
				}
				// &:hover .navNotifContainer {
				// 	display: block;
				// }
				.navNotifHeader {
					background-color: #333;
					margin-bottom: 8px;
					color: white;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
				}
				.navNotifItem {
					background-color: #fff;
					margin: 8px 0 0;
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
				}
			}
			// &:hover .navNotifContainer {
			// 	display: block;
			// }
		}

		.nav-link {
			@extend .body2;
			padding: 0 8px;
			// font-size: 0.9em;
			// text-transform: uppercase;
			// letter-spacing: 0.2em;
			// cursor: pointer;
			margin: 0 4px;
			&:hover {
				border-width: 0 0 2px 0;
				border-radius: 0;
				border-style: solid;
				border-color: $secondary;
				padding: 10px 8px 8px;
			}
			&.activeLink {
				background-color: $secondary;
				// text-transform: uppercase;
				// font-weight: 700;
				border-width: 0 0 2px 0;
				border-radius: 4px;
				border-style: solid;
				border-color: $secondary;
				padding: 10px 8px  8px;
			}
		}
	}
}

.container {
	margin: 0;
	padding: 60px;
	flex: 1 1 auto;
}

.link {
	color: #2c5bf5;
}

.formgroup {
	display: flex;
	flex-direction: column;
	margin: 16px auto;
	width: 80%;
	label {
		@extend .body2;
		margin: 4px 0 4px;
		text-align: left;
		display: block;
	}
	input {
		margin: 4px 0 4px;
	}
}

.loginBg {
	background-color: #fbda61;
	background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
	flex-grow: 1;
}

.loginForm {
	max-width: 400px;
	background-color: #ffffffaa;
	// background-color: transparent;
	// border: 3px solid #ececec;
	margin: auto;
	border-radius: 20px;
	padding: 20px 12px 32px;
	text-align: center;
}

.registerBg {
	padding: 0;
	display: flex;
	// flex: 1 1 auto;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(153, 103, 186, 0.6) 41.2%,
		rgba(0, 113, 227, 0.6) 90%
	);
	&::before {
		z-index: -10;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("https://images.pexels.com/photos/7376/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(4px);
	}
}

.registerForm {
	min-width: 400px;
	max-width: 500px;
	margin-left: auto;
	background-color: #fffa;
	// border-radius: 20px;
	padding: 40px 12px;
	text-align: center;
	// height: 100%;
	// display: flex;
	flex: 1 1 auto;
}

.notifContainer {
	// border: 1px dotted red;
	position: absolute;
	bottom: 4vh;
	right: 20px;
	@extend .body2;
	.notifBar {
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		padding: 12px 32px;
		background: #111e;
		color: white;
		border-radius: 2px;
		margin: 8px;
		max-width: 300px;
		// opacity: 0;
		// bottom: -30px;
		// visibility: hidden; /* Hidden by default. Visible on click */
		// &.visible {
		// 	visibility: visible;
		// 	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		// 	animation: fadein 0.5s, fadeout 0.5s 2.5s;
		// }
	}
}

.detailedList {
	// border: 1px dotted red;
	.detailedListItemContainer {
		// border: 1px dotted blue;
		margin: 0px 0;
		&:not(:first-child) {
			border: 1px solid lightgray;
			border-width: 1px 0 0 0;
		}

		&:hover {
			background-color: #f9f9f9;
		}

		padding: 12px;

		.textPrimary {
			@extend h5;
			margin: 8px 0px !important;
		}
		.textSecondary {
			@extend .body2;
		}
	}
}

.userProfileContainer {
	flex-grow: 1;
	display: flex;
	background: #eeee;

	.userProfileSidebar {
		padding-top: 32px;
		width: 280px;
		text-align: center;
		background-color: #333;
		background-image: linear-gradient(30deg, #111 0%, #888 120%);
		color: white;

		.profilePic {
			padding: 120px;
			background-color: #4158d0;
			background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

			border-radius: 4px;
		}

		.userName {
			margin: 6px 0;
		}
		.userEmail {
			@extend .body2;
			margin-bottom: 8px;
		}

		// .userRole {
		// text-transform: uppercase;
		// font-size: 0.75em;
		// padding: 4px 8px;
		// display: inline;
		// background-color: #0093e9;
		// color: white;
		// border-radius: 4px;
		// }
	}

	.userProfileDashboard {
		.taskPanel {
			// border: 1px solid #ccc;
			background: #fff;
			border-radius: 8px;
			padding: 12px;
			h5 {
				margin: 8px;
			}
		}
	}

	.userProfileDashboard {
		flex-grow: 1;
		padding: 20px;
	}
}

.taskContainer {
	max-width: 800px;
	margin: 60px auto;
	border: 1px solid #ccc;
	padding: 40px 48px;
	border-radius: 12px;
	width: 80%;
	.taskItemTitle {
		display: flex;
		align-items: flex-end;
	}
	.changeStatusButton {
		$color: #999;
		// text-transform: uppercase;
		font-size: 1.5em;
		color: $color;
		padding: 4px 8px;
		width: 20px;
		text-align: center;
		border-radius: 20px;
		cursor: pointer;
		margin-left: 8px;
		font-weight: 700;
		border: 1px solid $color;
		&:hover {
			// $color: #0B3954;
			color: #333;
			border-color: #333;
		}
	}
}

.taskMeta {
	// font-size: 0.9em;
	color: #999;
	margin: 8px 0;
	font-size: 0.75em;

	display: flex;
	align-items: baseline;

	.createdBy,
	.assignedTo {
		color: #333;
		display: inline;
		text-transform: none;
		border-style: solid;
		border-width: 0 0 3px 0;
		padding: 4px 4px 0 4px;
		cursor: pointer;
		&:hover {
			border-radius: 6px;
		}
	}
	.createdBy {
		border-color: #b721ff;
		&:hover {
			background-color: #b721ff;
			color: white;
		}
	}

	.assignedTo {
		border-color: #2b86c5;
		&:hover {
			background-color: #2b86c5;
			color: white;
		}
	}

	.taskStatus {
		@extend .label;
		font-size: 1em;
		&.pending {
			background-color: #ed7d3a;
		}
		&.in_progress {
			background-color: #2e86ab;
		}
		&.complete {
			background-color: #35a738;
		}
	}
}

.taskDesc {
	@extend .body2;
	white-space: break-spaces;
	text-align: justify;
	width: 100%;
}

textarea.taskDesc {
	border: 1px solid #ccc;
	border-width: 1px 0 1px 0;
	flex-grow: 1;
	// background-color: #eee;
	// margin: -20px;
	// padding: 12px 0;
	// width: calc(100% - 40px);
}

.editButton {
	color: #aaa;
	cursor: pointer;
	// border: 1px dotted red;
	display: block;
	float: right;

	&:hover {
		color: #444;
	}
}

// // For notif toast || NOT WORKING CURRENTLY
// @-webkit-keyframes toast-fadein {
// 	from {
// 		bottom: -30px;
// 		opacity: 0;
// 	}
// 	to {
// 		bottom: 0;
// 		opacity: 1;
// 	}
// }

// @keyframes toast-fadein {
// 	from {
// 		bottom: -30px;
// 		opacity: 0;
// 	}
// 	to {
// 		bottom: 0;
// 		opacity: 1;
// 	}
// }

// @-webkit-keyframes toast-fadeout {
// 	from {
// 		bottom: 30px;
// 		opacity: 1;
// 	}
// 	to {
// 		bottom: 0;
// 		opacity: 0;
// 	}
// }

// @keyframes toast-fadeout {
// 	from {
// 		bottom: 30px;
// 		opacity: 1;
// 	}
// 	to {
// 		bottom: 0;
// 		opacity: 0;
// 	}
// }

// Loading spinner

.loader,
.loader:before,
.loader:after {
	background: #1e3760;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #1e3760;
	text-indent: -9999em;
	margin: auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: "";
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.modal {
	position: absolute;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	// padding: 130px 0;
	// margin:auto;
	background: #000a;
	display: flex;

	.taskContainer {
		background-color: #fff;
		// top: 120px;
		margin: 100px auto 40px;
		padding: 8px 32px;
		display: flex;
		flex-direction: column;
	}

	.modalForm {
		display: flex;
		justify-content: space-between;
		.modalFormData {
			flex: 1;
		}
	}

	.modalTextField {
		&.heading {
			border-radius: 0;
			padding: 4px 0;
			font-size: 1.6em;
			border-width: 0 0 2px 0;
			width: 80%;
		}
	}

	.modalActions {
		text-align: right;
		button:first-child {
			margin-left: 0;
		}
		button:last-child {
			margin-right: 0;
		}
	}

	.modalLabel {
		@include fontPrimary;
		color: $primary;
		// @include fontSecondary;
		font-size: 0.875em;
		font-weight: 600;
		text-transform: uppercase;
		padding: 16px 0 6px;
	}
}
